
/* 目的地 */
.schedule{
    margin: 0 40px;
}

.date{
    font-size: 40px;
    margin: 0;
}

.free-time{
    font-size: 30px;
    color: red;
    font-weight: bold;
    margin: 0;
}

.photo{
    width: 300px;
}

.destination{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h4{
    font-size: 30px;
    margin: 0;
    color: blue;
}

.map{
    width: 200px;
    height: 200px;
}

.time{
    margin: 0;
}

/* 目的地　ここまで */
