
/* 目的地 */
.destination{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding-left: 10px;
    margin-bottom: 10px;
}

.map{
    width: 200px;
    height: 200px;
}

/* 目的地　ここまで */